.coins-holder {
    position: relative;
    margin-left: -30px;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    width: 166px;
    height: 45px;

    .player-coins,
    .dealer-coins {
        width: 40px;
        position: relative;
        z-index: 30;
        margin: 0 auto;
        .coin-image {
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        @for $i from 0 through 100 {
            .coin-index-#{$i} {
                z-index: 30 + $i; /* make sure these have higher zindex than cards */
                bottom: $i * 7px;
            }
        }
    }

    .hand-bet-total {
        position: absolute;
        left: -20px;
        bottom: -22px;
        width: 220%;
        font-size: 16px;
        line-height: 18px;
        font-weight: 700;
        color: #1AB512;
        //color: white;
        background: linear-gradient(90deg, rgba(36, 98, 136, 1) 0%, rgba(1, 1, 20, 0.8) 45%, rgba(1, 1, 20, 0.8) 55%, rgba(36, 98, 136, 1) 100%);
    }
}

@media (max-width: 767.98px) {
    .coins-holder {
        width: 60px;
        width: 156px;
        height: 36px;
        .player-coins,
        .dealer-coins {
            //width: 32px;
            .coin-image {
                width: 36px;
            }
        }
        .hand-bet-total {
            font-size: 15px;

        }
    }
}

@media (max-width: 575.98px) {
    .coins-holder {
        width: 50px;
        width: 154px;
        height: 32px;
        .player-coins,
        .dealer-coins {
            //width: 26px;
            .coin-image {
                width: 32px;
            }
        }
        .hand-bet-total {
            font-size: 13px;
        }
    }
}
